{% extends 'base.html' %}

{% block titulo %} Sign in {% endblock %}
{% block bar_tittle %} ¡Queremos que seas parte de nosotros!{% endblock %}
{% block sub_title %}Resgistro{% endblock %}
{% block contenido_1 %}

<v-container fluid>
  <v-card class="pa-2" elevation=8 width="100%">
    <v-card-title>Ingrese los datos para completar el proceso</v-card-title>    
      <form name="formularioregistro" submit="submit" method="POST">
        <v-container>
          <v-row>
            <v-col>
              <v-text-field name="usr_name" :counter="25" type="text" label="Nombre" id="usr_name" required prepend-inner-icon="mdi-account"></v-text-field>
            </v-col>
            <v-col>
              <v-text-field name="usr_lastname" :counter="25" type="text" label="Apellido del Usuario" id="usr_lastname" required prepend-inner-icon="mdi-account"></v-text-field>
            </v-col>
            
            <v-col>
              <v-text-field name="usr_email" :counter="30" type="email" label="Correo del Usuario" id="usr_email" required prepend-inner-icon="mdi-account"></v-text-field>
            </v-col>
            <v-col>
              <v-text-field name="usr_password" type="password" label="Clave de Acceso" required prepend-inner-icon="mdi-lock" title="Digitar la clave del Usuario">
                <template v-slot:append-outer>
                    <v-tooltip bottom>
                      <template v-slot:activator="{ on }">
                        <v-icon v-on="on" onmouseover="verClave();" onmouseout="ocultarClave()">mdi-eye</v-icon>
                      </template>
                      Ver la Clave
                    </v-tooltip>
                  </template>
              </v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-text-field name="usr_cellphone" :counter="25" type="text" label="Telefono"  prepend-inner-icon="mdi-phone"></v-text-field>
            </v-col>
            <v-col>
              <v-text-field name="usr_address" :counter="25" type="text" label="Dirección" prepend-inner-icon="mdi-map-marker"></v-text-field>
            </v-col>
            
            <v-col>
              <v-select name="usr_sex" :items="['Femenino', 'Masculino', 'Otro']" label="Genero" prepend-inner-icon="mdi-gender-male-female"></v-text-field>
            </v-col>
            <v-col>
              <v-text-field name="usr_age" type="number" label="Edad" prepend-inner-icon="mdi-account-edit" title="Digitar Edad"></v-text-field>
            </v-col>
          </v-row>
          <v-checkbox name="usr_checkbox" value="1" label="No soy robot" type="checkbox" title="No soy robot" ></v-checkbox>
          <v-btn class="mr-4" outlined type="submit" title="Crear Usuario">Crear Usuario</v-btn>
          <v-btn outlined color="red"title="Salir del modulo" href="/">Salir</v-btn>
        </v-container>
      </form>
  </v-card>
</v-container>


{% endblock %}
{% block text_footer_01 %} Todas las marcas comerciales y registradas que aparecen aqui, son propiedad de sus respectivos dueños. {% endblock %}
{% block text_footer_02 %} Cloud data - Atencion sin Igual - Todos los derechos reservados.{% endblock %}